.resources-main-text {
    text-align: center;
    font-size: 70px;
    color: white;
}

.resources-pg-text {
    text-align: center;
    color: white;
    font-size: 20px;
}

.buttons-resources {
    text-align: center;
    padding: 10px;
}

