
.home-main-text {
    text-align: center;
    color: white;
  }

.home-pg-text {
    color: white;
}
  
.women-laughing-image{
    width: 40%;
    height: 390px;
    padding: 10px;
    border: 1px solid white;
  }
  
.woman-laptop-image {
    width: 40%;
    height: 390px;
    padding: 10px;
    border: 1px solid white;
    
  }

.over-image-text-1{
    position: absolute;
    top: 48%;
    left: 33%;
    color: white;
    background-color: #282828;
    width: 250px;
    height: 110px;
    font-size: 40px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.over-image-text-2{
    position: absolute;
    top: 48%;
    left: 67%;
    color: white;
    background-color: #282828;
    width: 250px;
    height: 110px;
    font-size: 40px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.home-link-choices {
    text-align: center;
}